#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2ba0ff;
    z-index: 9999;
    transition: opacity 0.4s ease;
}

#loader.hidden {
    opacity: 0;
    pointer-events: none;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #00ffaa;
    border-top-color: #866cc4;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#loader p {
    margin-top: 15px;
    font-size: 18px;
    color: #333;
}
/* Fondo */
body {
    margin: 0;
    padding: 0;
    background: #0c0d48;
    font-family: Arial, sans-serif;
}

/* Contenedor del texto */
.sesion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;     /* Mismo valor */
    height: 450px;    /* Mismo valor → forma circular */

    background-color: #3498db;
    padding: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .7s ease-in-out;
}

/* Texto */
.sesion h1 {
    color: #d5d6ff;
    font-size: 2.2rem;
    margin: 10px 0;
    font-weight: 700;
    transition: .6s ease-in-out ;
}

.icono{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    transition: .6s ease-out;
}
